{% load betteradmin_tags util_tags %}

<div class="readonly-field">
	{% if field|is_db_field %}
		{% if field|is_foreign_key and not field|is_none:original %}
			<a href="{% admin_show_url original field %}">{{ field.contents }}</a>
		{% elif field|is_email %}
			<a href="mailto:{{ field.contents }}" target="_blank">{{ field.contents }}</a>
		{% elif field|is_url %}
			<a href="{{ field.contents }}" target="_blank">{{ field.contents }}</a>
		{% else %}
			<p>{{ field.contents }}</p>
		{% endif %}
	{% else %}
		<p>{{ field.contents }}</p>
	{% endif %}
</div>