{% load i18n admin_static foundation_admin foundation_theme util_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/styles.css" %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% static "foundation_admin/vendor/font-awesome/css/font-awesome.min.css" %}" />

{% block extrastyle %}{% endblock %}

{% block foundation_theme %}{% foundation_theme %}{% endblock foundation_theme %}

{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{# Foundation #}

<script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "foundation_admin/vendor/foundation-sites/dist/foundation.min.js" %}"></script>
<script type="text/javascript" src="{% static "foundation_admin/js/admin.js" %}"></script>

{% block extrahead %}{% endblock %}

<meta name="viewport" content="initial-scale=1">

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

{% capture_as view_name %}{% block view_name %}admin{% endblock view_name %}{% endcapture_as %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">
    {% block body-content %}{% endblock body-content %}

    {% block extrafooterjs %}    	
    {% endblock extrafooterjs %}
</body>
</html>
