{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static foundation_admin foundation_admin_modify util_tags %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block view_name %}{% if add %}add{% else %}change{% endif %}{% endblock view_name %}


{% block content_title_out %}
{% capture_as_req content_title_wrapper %}
    {{ block.super }}
{% endcapture_as %}
{% endblock content_title_out %}


{% block content %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
    {% block form-content %}
    
    {% capture_as object_tools_block %}
        {% block object-tools %}

        {% if not add %}{% if not is_popup %}
          <ul class="object-tools">
            {% block object-tools-items %}
            <li>
                {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
            </li>
            {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
            {% endblock %}
          </ul>
        {% endif %}{% endif %}
        {% endblock object-tools %}
    {% endcapture_as %}

    {% capture_as object_actions_block %}
        {% block object-actions %}
            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
        {% endblock object-actions %}
    {% endcapture_as %}

    <div id="content-main" class="row expanded">
        <div class="content-panel small-12 {% if request|use_actions_on_sidebar %}medium-9 large-10{% else %}medium-12 large-12{% endif %} columns">

            {{ request.content_title_wrapper|safe }}

            {% if request|use_actions_on_bottom %}
                {{ object_tools_block|safe }}
            {% endif %}

            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}

            {% if save_on_top %}
            <div class="row collapse">
                <div class="small-12-columns">
                    {% block submit_buttons_top %}{% submit_row %}{% endblock %}
                </div>
            </div>
            {% endif %}
            
            {% if errors %}
            <div class="row collapse">
                <div class="small-12 columns">
                    <p class="errornote">
                    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                </div>
            </div>
            {% endif %}

            {% block field_sets %}
            {% for fieldset in adminform %}
            <div class="row collapse">
                <div class="small-12 columns">
                {% admin_extra_html adminform.model_admin view_name fieldset.name 'before' %}
                {% include "admin/includes/fieldset.html" %}
                {% admin_extra_html adminform.model_admin view_name fieldset.name 'after' %}
                </div>
            </div>
            {% endfor %}
            {% endblock %}

            {% block after_field_sets %}{% endblock %}

            {% block inline_field_sets %}
                
            {% for inline_admin_formset in inline_admin_formsets %}
            <div class="row collapse">
                <div class="small-12 columns">
                {% include inline_admin_formset.opts.template %}
                </div>
            </div>
            {% endfor %}
            {% endblock %}

            {% block after_related_objects %}{% endblock %}

            {% block admin_change_form_document_ready %}
                <script type="text/javascript">
                    (function($) {
                        $(document).ready(function() {
                            $('.add-another').click(function(e) {
                                e.preventDefault();
                                var event = $.Event('django:add-another-related');
                                $(this).trigger(event);
                                if (!event.isDefaultPrevented()) {
                                    showAddAnotherPopup(this);
                                }
                            });

                        {% if adminform and add %}
                            $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                        {% endif %}
                        });
                    })(django.jQuery);
                </script>
            {% endblock %}
    
            {% block admin_change_form_prepopulated_fields %}
                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}
            {% endblock admin_change_form_prepopulated_fields %}
                
            {% if request|use_actions_on_bottom %}
            <div class="row collapse">
                <div class="small-12 columns">
                    {{ object_actions_block|safe }}
                </div>
            </div>
            {% endif %}
        </div>

        {% if request|use_actions_on_sidebar %}
        <div sticky sticky-offset="80" sticky-start-offset="30" class="sidebar small-12 medium-3 large-2 columns">
            <div class="row collapse">
                <div class="small-12 columns">
                    {{ object_tools_block|safe }}
                </div>
                <div class="small-12 columns">
                    {% admin_extra_html adminform.model_admin view_name 'sidebar' 'before' %}
                    {{ object_actions_block|safe }}
                    {% admin_extra_html adminform.model_admin view_name 'sidebar' 'after' %}
                    <script type="text/javascript" src="{% static "foundation_admin/js/sticky.js" %}"></script>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
    {% endblock form-content %}
</form>
{% endblock %}
