{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static foundation_admin foundation_admin_list util_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form or cl.has_filters %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
  {% if action_form %}{% if actions_on_top or actions_on_bottom %}
  <script type="text/javascript">
  (function($) {
      $(document).ready(function($) {
          $("tr input.action-select").actions();
      });
  })(django.jQuery);
  </script>
  {% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block view_name %}changelist{% endblock view_name %}

{% if not is_popup %}
  {% block extra-breadcrumbs %}
  &rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
  &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}


{% block extra-top-bar %}
  <div id="toolbar">
    <div class="row expanded">
      <div class="small-12 medium-6 columns">
        {% block search %}{% search_form cl %}{% endblock %}
      </div>
      <div class="small-12 medium-6 columns">
        {% block object-tools %}
          <ul class="object-tools">
            {% block object-tools-items %}
              {% if has_add_permission %}
              <li>
                {% url cl.opts|admin_urlname:'add' as add_url %}
                <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                  {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                </a>
              </li>
              {% endif %}
            {% endblock %}
            <li class="extra-object-tools">
              <a href="#">
                ···
              </a>
            </li>
          </ul>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}


{% block content_title %}
    {% if title %}
    <h1 id="changelist-title">
        {{ title }}
        {% if cl.result_count != cl.full_result_count %}
            <span id="changelist-results" class="quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
      {% endif %}
    </h1>
    {% endif %}
{% endblock %}

{% block content %}
  <div id="content-main">

    {% block changelist_form_errors %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    {% endblock changelist_form_errors %}

    {% block changelist_filters %}
      {% if cl.has_filters %}
        <div id="changelist-filter" class="filters-bar {% block changelist_filters_class %}fixed{% endblock changelist_filters_class %}">
          <a data-toggle="changelist-filter-body">  
          <h2 class="filters-title">{% trans 'Filters' %}</h2>
          </a>
          <div id="changelist-filter-body" class="filters-body" data-toggler=".hide">
            {% admin_extra_html cl.model_admin view_name 'filters' 'before' %}
            {% block filters_help_text %}{% endblock filters_help_text %}
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
            {% admin_extra_html cl.model_admin view_name 'filters' 'after' %}
          </div>
        </div>
      {% endif %}
    {% endblock %}

    {% block changelist_form %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">

      <div>
        {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
      </div>
      
      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        <div class="row expanded">
          <div class="small-12 columns">
            {% if cl.formset %}
              <div>{{ cl.formset.management_form }}</div>
            {% endif %}
            
            {% admin_extra_html cl.model_admin view_name 'results' 'before' %}
            {% block result_list %}
                {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
                {% result_list cl %}
                {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
            {% endblock %}
            {% admin_extra_html cl.model_admin view_name 'results' 'after' %}

          </div>
          <div class="small-12 columns">
            {% admin_extra_html cl.model_admin view_name 'pagination' 'before' %}
            {% block pagination %}{% pagination cl %}{% endblock %}
            {% admin_extra_html cl.model_admin view_name 'pagination' 'after' %}
          </div>     
        </div>
      </form>
    </div>
    {% endblock changelist_form %}    
    
  </div>
{% endblock %}
