{% extends "admin/base.html" %}
{% load i18n foundation_admin util_tags %}

{% block body-content %}

{% capture_as base_menu %}
    {% block userlinks %}
    
    {% if site_url %}
        <li><a href="{{ site_url }}">{% trans 'View site' %}</a></li>
    {% endif %}
    
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
        {% endif %}
    {% endif %}
    
    {% if user.has_usable_password %}
            <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
    {% endif %}

    {% block extra-userlinks %}{% endblock %}
    
    <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
    
    {% endblock %}
{% endcapture_as %}


{% capture_as full_content %}
{% if not is_popup %}
<!-- Header -->
<div id="header-container" class="{% if request|use_sticky_navbar %}sticky-container{% endif %}" {% if request|use_sticky_navbar %} data-sticky-container {% endif %}>
    <nav id="header" class="top-bar {% if request|use_sticky_navbar %}sticky{% endif %}" {% if request|use_sticky_navbar %} data-sticky data-margin-top="0" {% endif %}>
        <section class="top-bar-title v-centered">
            {% if request|use_left_menu and user.is_authenticated %}
            <button class="menu-icon" type="button" data-toggle="leftOffCanvas"></button>
            {% endif %}

            <div id="branding">
                {% block branding %}{% endblock %}
                {% if has_permission %}
                <span data-responsive-toggle="top-bar-responsive" data-hide-for="medium">
                  <button class="menu-icon" type="button" data-toggle></button>
                </span>
                {% endif %}
            </div>
        </section>
        {% if has_permission %}
        <div id="top-bar-responsive" class="top-bar-responsive">
            <section class="top-bar-left">
                {% block usertools %}
                <div id="user-tools">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a href="#" data-toggle="user-tools-menu">
                                {% block welcome-msg %}
                                    {% trans 'Welcome,' %}
                                    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                                {% endblock %}
                            </a>
                            <ul id="user-tools-menu" class="menu vertical submenu collapsed" data-toggler=".collapsed">
                                {{ base_menu|safe }}
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endblock %}
            </section>
            <section class="top-bar-right">
                <div>
                    <ul class="dropdown menu" data-dropdown-menu>
                        {% include "admin/menu.html" %}
                    </ul>
                </div>
            </section>
        </div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </nav>
</div>
<!-- END Header -->
{% endif %}

<!-- Container -->
<div id="container">

    <!-- Content Body -->
    <section id="body">
        {% block breadcrumbs %}
        <div id="breadcrumbs" class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {% block extra-breadcrumbs %}
                {% if title %} &rsaquo; {{ title }}{% endif %}
            {% endblock extra-breadcrumbs %}
        </div>
        {% endblock %}

        {% block extra-top-bar %}{% endblock extra-top-bar %}

        {% block messages %}
            {% capture_as extra_messages_block %}
                {% block extra-messages %}{% endblock %}
            {% endcapture_as %}

            {% if messages or extra_messages_block %}
            <ul class="messagelist">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}
                {{ extra_messages_block|safe }}
            </ul>
            {% endif %}
        {% endblock messages %}

        <!-- Content -->
        {% block out_content %}
        <div id="content">

            {% block content_title_out %}
                {% block pretitle %}{% endblock %}
            
                {% admin_extra_html adminform.model_admin view_name 'title' 'before' %}
                {% block content_title %}{% if title %}
                    <div><h1>{{ title }}</h1></div>
                {% endif %}{% endblock %}
                {% admin_extra_html adminform.model_admin view_name 'title' 'after' %}
            {% endblock content_title_out %}
        
            {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
            {% endblock %}

            {% block sidebar %}{% endblock %}

            <br class="clear" />
        </div>
        {% endblock out_content %}
        <!-- END Content -->

        {% block footer %}<div id="footer"></div>{% endblock %}
    </section>
    <!-- END Content Body -->

</div>
<!-- END Container -->  
{% endcapture_as %}


{% if request|use_left_menu %}

    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

            {% block off-canvas-left %}
            <aside class="off-canvas position-left" id="leftOffCanvas" data-off-canvas>
                <!-- Close button -->
                <button class="close-button" aria-label="Close menu" type="button" data-close>
                  <span aria-hidden="true">&times;</span>
                </button>  

                <ul class="menu">
                    {% include "admin/menu.html" %}
                </ul>
                {% block extra-left-menu %}{% endblock extra-left-menu %}
            </aside>
            {% endblock off-canvas-left %}

            {% block off-canvas-content %}
            <div class="off-canvas-content" data-off-canvas-content>
                {{ full_content|safe }}
            </div>
            {% endblock off-canvas-content %}
        </div>

{% else %}
    {{ full_content|safe }}
</div>
{% endif %}
{% endblock body-content %}