{% load i18n admin_urls foundation_admin %}
<div class="submit-row {% if request|use_actions_on_sidebar %}sidebar-block{% endif %}">

	{% admin_extra_html adminform.model_admin view_name 'actions' 'before' %}

	{% if show_save_as_new %}
		<div>
			<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" />
		</div>
	{% endif %}

	{% if show_save_and_add_another %}
		<div>
			<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" />
		</div>
	{% endif %}

	{% if show_save_and_continue %}
		<div>
			<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />
		</div>
	{% endif %}
	
	{% if show_save %}
		<div>
			<input type="submit" value="{% trans 'Save' %}" class="default" name="_save" />
		</div>
	{% endif %}

	{% if show_delete_link %}
		<div>
		    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
		    <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="button alert">{% trans "Delete" %}</a></p>
		</div>
	{% endif %}

	{% admin_extra_html adminform.model_admin view_name 'actions' 'after' %}

</div>
