<fieldset class="module aligned {{ fieldset.classes }} {% if fieldset.name %}fieldset-{{ fieldset.name|slugify }}{% endif %}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box {% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    <div class="row collapse">
                        {% block fieldset-row %}
                            <div class="small-12 medium-2 large-2 field-label columns">{{ field.label_tag }}</div>
                            
                            {% block fieldset-field %}
                                {% if field.is_checkbox %}
                                    <div class="small-12 medium-10 large-10 field-input end columns">{{ field.field }} {{ field.label_tag }}</div>
                                {% else %}
                                    <div class="small-12 medium-10 large-10 field-input end columns">
                                        {% if field.is_readonly %}
                                            <p>{{ field.contents }}</p>
                                        {% else %}
                                            {{ field.field }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endblock fieldset-field %}

                            {% if field.field.help_text and not field.is_readonly %}
                                <div class="small-12 medium-offset-2 medium-10 large-offset-2 large-10 columns end field-help_text">
                                    <p class="help">{{ field.field.help_text|safe }}</p>
                                </div>
                            {% endif %}
                        {% endblock fieldset-row %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
