$dark_blue: #417690;
$light_blue: #79aec8;
$lighter_blue: #c4dce8;

$light_beige: #FFC;
$navbar_height: 55px;

$light_grey: #e6e6e6;

$text-blue: #447e9b;
$text-blue-light: #5b80b2;
$text-dark-blue: #036;

$link-color: $text-blue;
$link-color-dark: $text-dark-blue;
$link-color-light: $text-blue-light;
$link-color-hover: $text-dark-blue;

$navbar_color: $light_beige;
$navbar_color_hover: darken($light_beige, 20%);
$navbar_bg_color: $dark_blue;

$navbar_label_color: #b4bcc2;
$navbar_label_bg_color: #FFFFFF;

$navbar_item_color: #7b8a8b;
$navbar_item_color_hover: #FFFFFF;
$navbar_item_bg_color: #FFFFFF;
$navbar_item_bg_color_hover: $dark_blue;