@import '../../foundation_admin/vendor/foundation-sites/scss/foundation';

@import 'variables';

/*  Basic styles */

.row.expanded{
    @include grid-row-nest($grid-column-gutter);
}


/*
    DJANGO Admin styles
*/

@import url(fonts.css);

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}

/* LINKS */

a:link, a:visited {
    color: $link-color;
    text-decoration: none;
}

a:focus, a:hover {
    color: $link-color-hover;
}

a:focus {
    text-decoration: underline;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: #fff;
    text-decoration: none;
}

a.section:focus, a.section:hover {
    text-decoration: underline;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 1.5rem;
    color: #666;
}

h2 {
    font-size: 16px;
    margin: 1em 0 .5em 0;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    color: #666;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 10px;
    margin: 1.5em 0 .5em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul li {
    list-style-type: square;
    padding: 0px 0;
}

li ul {
    margin-bottom: 0;
}

li, dt, dd {
    font-size: 13px;
    line-height: 20px;
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #eee;
}

blockquote {
    font-size: 11px;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: #666;
    font-size: 12px;
}

pre.literal-block {
    margin: 10px;
    background: #eee;
    padding: 6px 8px;
}

code strong {
    color: #930;
}

hr {
    clear: both;
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
}

/* TEXT STYLES & MODIFIERS */

.small {
    font-size: 11px;
}

.tiny {
    font-size: 10px;
}

p.tiny {
    margin-top: -2px;
}

.mini {
    font-size: 10px;
}

p.mini {
    margin-top: -3px;
}

.help, p.help, form p.help {
    font-size: 11px;
    color: #999;
}

.help-tooltip {
    cursor: help;
}

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #999;
    font-weight: normal;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.example {
    margin: 10px 0;
    padding: 5px 10px;
    background: #efefef;
}

.nowrap {
    white-space: nowrap;
}

.v-centered{
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; // Adjusts for spacing
    }
    & > *{
      display: inline-block;
      vertical-align: middle;
    }
}

/* TABS */
ul.tabs{
    list-style-type: none;
    li{
        list-style-type: none;
    }
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

.table-responsive {
    overflow-x: auto;
}

td, th {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 8px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    font-weight: 600;
    text-align: left;
}

thead th,
tfoot td {
    color: #666;
    padding: 5px 10px;
    font-size: 11px;
    background: #fff;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #eee;
}

tr.alt {
    background: #f6f6f6;
}

.row1 {
    background: #fff;
}

.row2 {
    background: #f9f9f9;
}

/* SORTABLE TABLES */

thead th {
    padding: 5px 10px;
    line-height: normal;
    text-transform: uppercase;
    background: #f6f6f6;
}

thead th a:link, thead th a:visited {
    color: #666;
}

thead th.sorted {
    background: #eee;
}

thead th.sorted .text {
    padding-right: 42px;
}

table thead th .text span {
    padding: 8px 10px;
    display: block;
}

table thead th .text a {
    display: block;
    cursor: pointer;
    padding: 8px 10px;
}

table thead th .text a:focus, table thead th .text a:hover {
    background: #eee;
}

thead th.sorted a.sortremove {
    visibility: hidden;
}

table thead th.sorted:hover a.sortremove {
    visibility: visible;
}

table thead th.sorted .sortoptions {
    display: block;
    padding: 9px 5px 0 5px;
    float: right;
    text-align: right;
}

table thead th.sorted .sortpriority {
    font-size: .8em;
    min-width: 12px;
    text-align: center;
    vertical-align: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

table thead th.sorted .sortoptions a {
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../img/sorting-icons.svg) 0 0 no-repeat;
    background-size: 14px auto;
}

table thead th.sorted .sortoptions a.sortremove {
    background-position: 0 0;
}

table thead th.sorted .sortoptions a.sortremove:after {
    content: '\\';
    position: absolute;
    top: -6px;
    left: 3px;
    font-weight: 200;
    font-size: 18px;
    color: #999;
}

table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after {
    color: #447e9b;
}

table thead th.sorted .sortoptions a.sortremove:focus,
table thead th.sorted .sortoptions a.sortremove:hover {
    background-position: 0 -14px;
}

table thead th.sorted .sortoptions a.ascending {
    background-position: 0 -28px;
}

table thead th.sorted .sortoptions a.ascending:focus,
table thead th.sorted .sortoptions a.ascending:hover {
    background-position: 0 -42px;
}

table thead th.sorted .sortoptions a.descending {
    top: 1px;
    background-position: 0 -56px;
}

table thead th.sorted .sortoptions a.descending:focus,
table thead th.sorted .sortoptions a.descending:hover {
    background-position: 0 -70px;
}

/* FORM DEFAULTS */

input, textarea, select, .form-row p, form .button {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
}

textarea {
    vertical-align: top;
}

input[type=text], input[type=password], input[type=email], input[type=url],
input[type=number], textarea, select, .vTextField {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus, input[type=number]:focus, textarea:focus, select:focus,
.vTextField:focus {
    border-color: #999;
}

select {
    height: 30px;
}

select[multiple] {
    min-height: 150px;
}

/* FORM BUTTONS */
 
.button, input[type=submit], input[type=button], a.button {
    background: $light_blue;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    line-height: normal;
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: $dark_blue;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    opacity: 0.4;
}

.button.default, input[type=submit].default {
    float: right;
    border: none;
    font-weight: 400;
    background: $dark_blue;
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #205067;
}

.button[disabled].default,
input[type=submit][disabled].default,
input[type=button][disabled].default {
    opacity: 0.4;
}


/* MODULES */

.module {
    border: none;
    margin-bottom: 30px;
    background: #fff;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: $light_blue;
    color: #fff;
}

.module caption,
.inline-group h2 {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.module table {
    border-collapse: collapse;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0;
    margin: 0;
    li {
        display: block;
        font-weight: 400;
        font-size: 13px;
        padding: 10px 10px 10px 65px;
        margin: 0 0 10px 0;
        background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
        background-size: 16px auto;
        color: #333;
        &.warning {
            background: $light_beige url(../img/icon-alert.svg) 40px 14px no-repeat;
            background-size: 14px auto;
        }

        &.info {
            background: #d9edf7 url(../img/icon-unknown.svg) 40px 14px no-repeat;
            background-size: 14px auto;
        }

        &.error {
            background: #ffefef url(../img/icon-no.svg) 40px 12px no-repeat;
            background-size: 16px auto;
        }
    }
}

.errornote {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: #ba2121;
    border: 1px solid #ba2121;
    border-radius: 4px;
    background-color: #fff;
    background-position: 5px 12px;
}

ul.errorlist {
    margin: 0 0 4px;
    padding: 0;
    color: #ba2121;
    background: transparent;
}

ul.errorlist li {
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
}

ul.errorlist li:first-child {
    margin-top: 0;
}

ul.errorlist li a {
    color: inherit;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

td ul.errorlist li {
    margin: 0;
}

.form-row.errors {
    margin: 0;
    border: none;
    border-bottom: 1px solid #eee;
    background: none;
}

.form-row.errors ul.errorlist li {
    padding-left: 0;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid #ba2121;
}

div.system-message {
    background: $light_beige;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: #c11;
    background: #ffefef url(../img/icon-no.svg) 5px 5px no-repeat;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

/* BREADCRUMBS */

div.breadcrumbs {
    background: $light_blue;
    padding: 10px 40px;
    margin-bottom: 0px;
    border: none;
    font-size: 14px;
    color: $lighter_blue;
    text-align: left;

    @media #{$small-only}{
        padding: 10px 15px;
    }
}

div.breadcrumbs a {
    color: #fff;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: $lighter_blue;
}

/* ACTION ICONS */

.addlink {
    padding-left: 16px;
    background: url(../img/icon-addlink.svg) 0 1px no-repeat;
}

.changelink, .inlinechangelink {
    padding-left: 16px;
    background: url(../img/icon-changelink.svg) 0 1px no-repeat;
}

.deletelink {
    padding-left: 16px;
    background: url(../img/icon-deletelink.svg) 0 1px no-repeat;
}

a.deletelink:link, a.deletelink:visited {
    color: #CC3434;
}

a.deletelink:focus, a.deletelink:hover {
    color: #993333;
    text-decoration: none;
}

/* OBJECT TOOLS */

.object-tools {
    font-size: 10px;
    font-weight: bold;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -50px;


    li {
        display: block;
        float: left;
        margin-left: 5px;
        height: 16px;
    }

    a {
        border-radius: 15px;
        &:link, &:visited {
            display: block;
            float: left;
            padding: 3px 12px;
            background: #999;
            font-weight: 400;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: #fff;
        }
        &:focus, &:hover {
            background-color: $dark_blue;
        }
        &:focus{
            text-decoration: none;
        }
        &.viewsitelink, &.golink, &.addlink {
            background-repeat: no-repeat;
            background-position: 93% center;
            padding-right: 26px;
        }
        &.viewsitelink, &.golink {
            background-image: url(../img/tooltag-arrowright.svg);
        }
        &.addlink {
            background-image: url(../img/tooltag-add.svg);
        }
    }
}

.form-row .object-tools {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    height: 2em;
    padding-left: 3.5em;
}

/* OBJECT HISTORY */

table#change-history {
    width: 100%;
}

table#change-history tbody th {
    width: 16em;
}

/* PAGE STRUCTURE */

#container {
    position: relative;
    // min-height: 90vh;
    // height: 100%;
    // min-width: 980px;
    width: 100%;
    padding: 0;
}

#content {
    padding: 20px 40px;
    @media #{$small-only} {
        padding: 20px 15px;
    }
}

.dashboard #content {
    width: 600px;
}

#content-main {
    float: left;
    width: 100%;
}

#content-related {
    float: right;
    width: 260px;
    position: relative;
    margin-right: -300px;
}

#footer {
    clear: both;
    padding: 10px;
}

/* COLUMN TYPES */

.colMS {
    margin-right: 300px;
}

.colSM {
    margin-left: 300px;
}

.colSM #content-related {
    float: left;
    margin-right: 0;
    margin-left: -300px;
}

.colSM #content-main {
    float: right;
}

.popup .colM {
    width: auto;
}

/* HEADER */

#header-container{
    height: $navbar_height !important;
}
#header {
    background-color: $navbar_bg_color;

    left: 0px !important;
    right: 0px !important;

    width: 100%;
    z-index: 10000;
    min-height: $navbar_height;
    padding: 0px 40px;

    @media #{$small-only} {
        padding: 0px 15px;
    }

    /* Affects only collapsed links */
    a{
        font-weight: 600;
        &:link, &:visited {
            color: $navbar_color;
            &:after{
                right: 0px;
                border-color: $navbar_color transparent transparent;
            }
        }
        &:focus, &:hover {
            text-decoration: none;
            color: $navbar_color_hover;
            &:after{
                right: 0px;
                border-color: $navbar_color_hover transparent transparent;
            }
        }

    }
    .menu.vertical{
        a {            
            &:link, &:visited {
                color: $navbar_item_color;
                background-color: $navbar_item_bg_color;
            }
            &:focus, &:hover {
                text-decoration: none;
                color: $navbar_item_color_hover;
                background-color: $navbar_item_bg_color_hover;
            }
        }
        label{
            color: $navbar_label_color;
            background-color: $navbar_label_bg_color;
            & > a{
                color: white;
                &:hover{
                    color: white;
                }
            }
        }
    }

    .menu{
        background-color: transparent;

        & > li > a{
            padding: 21px 20px;
        }

        .menu.vertical{
            a{
                padding: 0.5rem 1rem;
            }

            /* Avoid blinking on first load */
            &.submenu:not(.is-dropdown-submenu){
                display: none;
            }

            li:last-child{
                a, label{
                    padding-bottom: 0.8rem;
                }
            }

            label{
                line-height: 1rem;
                padding: 0.8rem 1rem 0.5rem 1rem;
                font-size: 13px;
            }
        }
    }

    .top-bar-responsive{
        display: none;
        /* Hack to convert js-enabled dropdown menu in collapsed-based (for mobile) */
        @media #{$small-only} {
            overflow: hidden;
            width: 100%;
            padding-bottom: 1rem;

            .menu.vertical{ 
                display: block;
                position: static;
                &.collapsed{
                    height: 0px;
                    padding-bottom: 0px;
                    padding-top: 0px;
                }
                a{
                    padding: 0.7rem 1rem;
                }
                label{
                    padding: 0.8rem 1rem;
                    font-size: 14px;
                }
            }

            .menu > li {
                width: 100%;
                display: block;
                overflow: hidden;
                font-size: 14px;

                label{
                    padding: 0.7rem 1rem;
                    font-weight: 600;
                }
            }
            .is-dropdown-submenu{
                display: block;
                position: static;
            }
        }
    }

    .top-bar-title{
        height: $navbar_height + 2px;
        @media #{$small-only} {
            width: 100%;    
        }

        .menu-icon{
            float: right;
            margin: 10px 10px 10px 25px;
        }
        #branding {
            width: 98%;
            h1 {
                float: left;
                padding: 0;
                margin: 0 20px 0 0;
                font-weight: 300;
                font-size: 24px;
                color: white;
                &, a:link, a:visited {
                    color: white;
                }
            }

            h2 {
                padding: 0 10px;
                font-size: 14px;
                margin: -8px 0 8px 0;
                font-weight: normal;
                color: $light_beige;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
    #user-tools {
        // float: right;
        // padding: 0;
        // margin: 0 0 0 20px;
        font-weight: 300;
        font-size: 11px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        text-align: right;
        
    }
}

/* SIDEBAR */

.sidebar {
    @media #{$medium-up} {
        overflow-y: auto;
        max-height: calc(100vh - 80px - 2rem);
    }

    .sidebar-block {
        width: 100%;
        padding: 12px 14px;
        margin: 0 0 20px;
        background-color: #f8f8f8;
        border: 1px solid #eee;
        border-radius: 4px;

        h2{
            text-align: left;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            &:first-child{
                margin-top: 0rem;
            }
        }

        ul{
            margin-bottom: 15px;
            li {
                list-style-type: none;
                margin-left: 0;
                padding-left: 0;
                &.selected {
                    border-left: 5px solid #eaeaea;
                    padding-left: 10px;
                    margin-left: -15px;
                    a {
                        color: $link-color-dark;
                    }
                }
                &.clearbottom{
                    margin-bottom: 1rem;
                }
            }
        }

        & > a.button, & > input[type="submit"], & > select{
            &:last-child{
                margin-bottom: 0rem;
            }
        }
        a.button, input[type="submit"], select{
            text-align: center;
            width: 100%;
            margin: 0px;
            margin-bottom: 1rem;
        }

        .deletelink-box{
            margin: 0px;
        }

        input.default{
            float: none;
        }

        hr {
            clear: both;
            color: transparent;
            background-color: transparent;
            border: none;
            height: 1px;
            margin: 1rem 0px;
            padding: 0;
            font-size: 1px;
            line-height: 1px;
            &.hr-2x{
                margin: 2rem 0px;
            }
            &.hr-3x{
                margin: 3rem 0px;
            }
            &.hr-4x{
                margin: 4rem 0px;
            }
        }
    }

    .object-tools {
        font-size: 10px;
        font-weight: bold;
        padding-left: 0;
        float: right;
        position: static;
        margin-top: 0px;
        margin-bottom: 1.5rem;

        li {
            display: block;
            float: left;
            margin-left: 5px;
            height: auto;
        }

        a {
            border-radius: 15px;
            &:link, &:visited {
                display: block;
                float: left;
                padding: 3px 12px;
                background: #999;
                font-weight: 400;
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                color: #fff;
            }
            &:focus, &:hover {
                background-color: $dark_blue;
            }
            &:focus{
                text-decoration: none;
            }
            &.viewsitelink, &.golink, &.addlink {
                background-repeat: no-repeat;
                background-position: 93% center;
                padding-right: 26px;
            }
            &.viewsitelink, &.golink {
                background-image: url(../img/tooltag-arrowright.svg);
            }
            &.addlink {
                background-image: url(../img/tooltag-add.svg);
            }
        }
    }

}

#content-related {
    background: #f8f8f8;

    .module {
        background: none;
    }

    h3 {
        font-size: 14px;
        color: #666;
        padding: 0 16px;
        margin: 0 0 16px;
    }

    h4 {
        font-size: 13px;
    }

    p {
        padding-left: 16px;
        padding-right: 16px;
    }

    .actionlist {
        padding: 0;
        margin: 16px;
    }

    .actionlist li {
        line-height: 1.2;
        margin-bottom: 10px;
        padding-left: 18px;
    }

    .module h2 {
        background: none;
        padding: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #eaeaea;
        font-size: 18px;
        color: #333;
    }
}





.delete-confirmation form input[type="submit"] {
    background: #ba2121;
    border-radius: 4px;
    padding: 10px 15px;
    color: #fff;
}

.delete-confirmation form input[type="submit"]:active,
.delete-confirmation form input[type="submit"]:focus,
.delete-confirmation form input[type="submit"]:hover {
    background: #a41515;
}

.delete-confirmation form .cancel-link {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    line-height: 15px;
    background: #ddd;
    border-radius: 4px;
    padding: 10px 15px;
    color: #333;
    margin: 0 0 0 10px;
}

.delete-confirmation form .cancel-link:active,
.delete-confirmation form .cancel-link:focus,
.delete-confirmation form .cancel-link:hover {
    background: #ccc; 
}


/* FILTERS */
.filters-bar.fixed {
    @media #{$medium-up} {
        position: fixed;
        width: 240px;
        margin: 0; 
        bottom: 0;
        right: 0;
        z-index: 1000;
    }

}

.filters-bar {
    background: #f8f8f8;
    border-left: none;
    margin-bottom: 2rem;

    @media #{$medium-up} {
        max-height: calc(100vh - #{$navbar_height} - 25px - 25px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    #changelist-body, .filters-body{

        & > ul:last-child {
            border-bottom: none;
            padding-bottom: none;
        }
    }

    h2 {

        font-size: 14px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding: 10px 15px;
        margin: 0;
        margin-bottom: 0px;
        border-bottom: none;
        background: $light_blue;
        color: #fff;

    }

    a{
        h2{
            cursor: pointer;
            &:hover{
                background: $dark_blue;
            }
        }
    }

    h3 {
        font-weight: 600;
        font-size: 14px;
        padding: 0 15px;
        margin-bottom: 10px;
    }

    label{
        margin-top: 0.625rem;
        color: #666;
    }
    
    p{
        margin: 0px 15px 10px 15px;
    }

    ul {
        margin: 5px 0;
        padding: 0 15px 15px;
        border-bottom: 1px solid #eaeaea;
        li {
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;
            &.selected {
                border-left: 5px solid #eaeaea;
                padding-left: 10px;
                margin-left: -15px;
                a {
                    color: $link-color-hover;
                }
            }
            &.clearbottom{
                margin-bottom: 1rem;
            }
        }
    }
    
    a:link, a:visited{
        display: block;
        color: #999;
    }

    .button{
        margin-bottom: 0px;
    }
    
    a:focus, a:hover,
    li.selected a:focus,
    li.selected a:hover {
        color: $link-color-hover;
    }
}

/* POPUP */
.popup #content {
    padding: 20px;
}

.popup #container {
    min-width: 0;
}

.popup #header {
    padding: 10px 20px;
}

/* STICKY */

#body.sticky-navbar {
    padding-top: $navbar_height;    
}
.popup #body{
    padding-top: 0px;
}

/* OFF CANVAS */
.off-canvas-content{
    background: transparent;
    min-height: 100vh;
}
.off-canvas.position-left, .off-canvas.position-right{
    overflow: hidden;
    height: 100%;
    background-color: $light_grey;

    .close-button{
        color: white;
    }

    /* Only first level labels */
    & > .menu > li {
        border-bottom: 1px solid #ccc;
        & > label, & > a{
            padding: 1rem;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 600;
            background-color: #AAA;

            color: white;
            &:hover{
                background-color: #666;
            }
            & > a{
                color: white;
                &:hover{
                    color: white;
                }
            }
        }
    }

    .menu.vertical{
        padding-bottom: 0.7rem;
        padding-top: 0.7rem;

        &.collapsed{
            height: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        
        & > li:first-child > label{
            padding-top: 0.1rem;
        }
    }

    .menu > li {
        width: 100%;
        display: block;
        overflow: hidden;
        font-size: 14px;
        label{
            padding: 0.7rem 1rem;
            font-weight: 600;
        }
    }

    /* Transitions */
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}


.toolbar, toolbar {
    display: block;
    padding: 10px 40px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f8f8f8;
    color: #666;

    @media #{$small-only}{
        padding: 10px 15px;
    }

    form.searchbar-form{
        input[type='text']{
            font-size: rem-calc(14px);
            height: 2rem;
            border-radius: 20px 0px 0px 20px;            
            padding: 0px 20px; 

            $box-shadow: inset 1px 1px 2px 1px #dddddd;
            -webkit-box-shadow: $box-shadow;
            -moz-box-shadow: $box-shadow;
            box-shadow: $box-shadow;
        }
        .input-group-button input{
            &:focus {outline:0;}

            border-radius: 0px 15px 15px 0px;
            height: 2rem;
            line-height: 1rem;

            padding: 5px 25px 5px 20px;
        }

        .input-group, input{
            margin: 0px;
        }
    }

    img {
        vertical-align: middle;
        margin-right: 4px;
    }


    /* OBJECT TOOLS */
    .object-tools {
        height: 2rem;
        position: static;
        margin: 0px;

        @media #{$small-only}{
            float: none;
            margin-top: 0.5rem;
            li{
                margin-top: 0.5rem;
            }
            li:not(.extra-object-tools){
                height: 2rem;
            }
        }

        a:link{
            width: 100%;
            text-align: center;
            padding: 6px 12px 6px 12px;
            &.addlink{
                padding-right: 30px;
            }
        }
        li{
            margin-left: 0px;
            margin-right: 0.5rem;
        }
    }

}
