@import '../../foundation_admin/vendor/foundation-sites/scss/foundation';

@import 'base';
@import 'variables';

/* CHANGELISTS TITLE */
 
#changelist-title{
    @media #{$small-only}{
        text-align: center;
    }

    #changelist-results{
        line-height: 2rem;
        font-size: 1rem;
        margin-left: 25px;
        display: inline-block;
    }
} 

/* CHANGELISTS */

#changelist {
    position: relative;
    width: 100%;
    
    .toplinks {
        margin-left: 0;
        padding-left: 0;
        border-bottom: 1px solid #ddd;
        li{
            margin-left: 1rem;
            list-style: none;
            display: inline-block;
        }
    }

    .paginator {
        color: #666;
        border-bottom: 1px solid #eee;
        background: #fff;
        overflow: hidden;
    }

    /* CHANGELIST TABLES */
    
    table {
        width: 100%;

        thead th {
            padding: 0;
            white-space: nowrap;
            vertical-align: middle;
            &.action-checkbox-column {
                width: 1.5em;
                text-align: center;
            }
        }
        [type='checkbox']{
            height: inherit;
            margin: 0;
        }

        input{
            margin: 0;
            vertical-align: baseline;
            font-size: 13px;
            height: 1.8rem;
        }

        tbody{

            td.action-checkbox {
                text-align: center;
            }

            tr.selected {
                background-color: #FFFFCC;
            }
        }

        tfoot {
            color: #666;
        }
    }

    /* ACTIONS */

    .filtered .actions {
        // margin-right: 280px;
        border-right: none;
    }

    .actions {
        padding: 10px;
        background: #fff;
        border-top: none;
        border-bottom: none;
        line-height: 24px;
        color: #999;

        &.selected {
            background: #fffccf;
            border-top: 1px solid #fffee8;
            border-bottom: 1px solid #edecd6;
        }
        &:last-child {
            border-bottom: none;
        }
 
        span.all,
        span.action-counter,
        span.clear,
        span.question {
            font-size: 13px;
            margin: 0 2em;
            display: none;
        }

        select {
            height: 2rem;
            background: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            padding: 0 0 0 14px;
            margin: 0;
            margin-bottom: 1rem;
            &:focus {
                border-color: #999;
            }
        }

        label {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            margin-bottom: 1rem;
        }

        .button {
            margin: 0px;
            height: 2rem;
            padding: 5px 20px;
        }
    }
}


/* TOOLBAR */

#toolbar{
    @extend .toolbar;
}

.change-list {

    .results {
        overflow-x: auto;
    }

    .hiddenfields {
        display:none;
    }

    .filtered {
        min-height: 400px;
        table {
            border-right: none;
            tbody th {
                padding-right: 1em;
            }
        }
        .results, .paginator,
        #toolbar, div.xfull {
            // margin-right: 280px;
            width: auto;
        }
    }

    /* DATE DRILLDOWN */

    ul.top links {
        display: block;
        float: left;
        padding: 0;
        margin: 0;
        width: 100%;
        li {
            padding: 3px 6px;
            font-weight: bold;
            list-style-type: none;
            display: inline-block;
        }

        .date-back a {
            color: #999;
        }

        .date-back a:focus,
        .date-back a:hover {
            color: #036;
        }
    }
}


/* PAGINATOR */

.paginator {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    margin: 0;
    border-top: 1px solid #ddd;


    a:link, a:visited {
        padding: 2px 6px;
        background: $light_blue;
        text-decoration: none;
        color: #fff;
    }
    a:focus, a:hover {
        color: white;
        background: $link-color-hover;
    }

    a.showall {
        padding: 0;
        border: none;
        background: none;
        color: $link-color-light;
    }

    a.showall:focus, a.showall:hover {
        background: none;
        color: $link-color-hover;
    }

    .end {
        margin-right: 6px;
    }

    .this-page {
        padding: 2px 6px;
        font-weight: bold;
        font-size: 13px;
        vertical-align: top;
    }

}