.dashboard .module table th{width:100%}.dashboard .module table td{white-space:nowrap}.dashboard .module table td a{display:block;padding-right:.6em}.module ul.actionlist{margin-left:0}ul.actionlist li{list-style-type:none}ul.actionlist li{overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis}
/*# sourceMappingURL=dashboard.css.map */
