@import url('widgets.css');

@import 'variables';

/*  Extra styles */
html{
    font-size: 13px;
}

/* FORM ROWS */

.form-row {
    overflow: hidden;
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
}

.form-row img, .form-row input {
    vertical-align: middle;
}

.form-row label input[type="checkbox"] {
    margin-top: 0;
    vertical-align: 0;
}

form .form-row p {
    padding-left: 0;
}

.hidden {
    display: none;
}

/* FORM LABELS */

label {
    font-weight: normal;
    color: #666;
    font-size: 13px;
}

.required label, label.required {
    font-weight: bold;
    color: #333;
}

/* RADIO BUTTONS */

form ul.radiolist li {
    list-style-type: none;
}

form ul.radiolist label {
    float: none;
    display: inline;
}

form ul.radiolist input[type="radio"] {
    margin: -2px 4px 0 0;
    padding: 0;
}

form ul.inline {
    margin-left: 0;
    padding: 0;
}

form ul.inline li {
    float: left;
    padding-right: 7px;
}

/* ALIGNED FIELDSETS */
.aligned{

    label {
        display: block;
        padding: 4px 10px 0 0;
        float: left;
        width: 160px;
        word-wrap: break-word;
        line-height: 1;
    }

    label:not(.vCheckboxLabel):after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 26px;
    }

    .field-input .vCheckboxLabel {
        float: none;
        width: auto;
        display: inline-block;
        vertical-align: -3px;
        padding: 0 0 5px 5px;
    }

    .vCheckboxLabel + p.help {
        margin-top: -4px;
    }

    label + p {
        padding: 6px 0;
        margin-top: 0;
        margin-bottom: 0;
        // margin-left: 170px;
    }

    ul label {
        display: inline;
        float: none;
        width: auto;
    }

    .form-row input:not(.vDateField) {
        margin-bottom: 0;
    }
}

.colMS .aligned .vLargeTextField, .colMS .aligned .vXMLLargeTextField {
    width: 350px;
}

form .aligned {
    ul {
        // margin-left: 160px;
        // padding-left: 10px;
        &.radiolist {
            display: inline-block;
            margin: 0;
            padding: 0;
        }
    }

    ul li {
        list-style: none;
    }

    p.help {
        clear: left;
        margin-top: 0;
        // margin-left: 160px;
        // padding-left: 10px;
    }

    label + p.help {
        margin-left: 0;
        padding-left: 0;
    }

    p.help:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    input + p.help,
    textarea + p.help,
    select + p.help {
        // margin-left: 160px;
        // padding-left: 10px;
    }

    table p {
        margin-left: 0;
        padding-left: 0;
    }
}


.colM .aligned .vLargeTextField, .colM .aligned .vXMLLargeTextField {
    width: 610px;
}

.checkbox-row p.help {
    margin-left: 0;
    padding-left: 0;
}

fieldset .field-box {
    // float: left;
    // margin-right: 20px;
    &:not(:last-child){
        margin-bottom: 1rem;
    }
}

/* WIDE FIELDSETS */

.wide label {
    width: 100%;
}

form .wide p, form .wide input + p.help {
    margin-left: 0px;
}

form .wide p.help {
    padding-left: 0px;
}

.colM fieldset.wide .vLargeTextField, .colM fieldset.wide .vXMLLargeTextField {
    width: 100%;
}

/* COLLAPSED FIELDSETS */

fieldset.collapsed * {
    display: none;
}

fieldset.collapsed h2, fieldset.collapsed {
    display: block;
}

fieldset.collapsed {
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
}

fieldset.collapsed h2 {
    background: #f8f8f8;
    color: #666;
}

fieldset .collapse-toggle {
    color: #fff;
}

fieldset.collapsed .collapse-toggle {
    background: transparent;
    display: inline;
    color: #447e9b;
}

/* MONOSPACE TEXTAREAS */

fieldset.monospace textarea {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

/* SUBMIT ROW */
 .content-panel .submit-row {
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;

    input, a {
        // height: 35px;
        // line-height: 15px;
        margin: 0 0 0 5px;
        &.default {
            margin: 0 0 0 8px;
            text-transform: uppercase;
        }
    }

    p {
        margin: 0.3em;
        &.deletelink-box {
            float: left;
            margin: 0;
        }
    }

    a.deletelink {
        display: block;
        background: #ba2121;
        border-radius: 4px;
        padding: 10px 15px;
        // height: 15px;
        // line-height: 15px;
        color: #fff;

        &:focus,
        &:hover,
        &:active {
            background: #a41515;
        }
    }
}

body.popup .submit-row {
    overflow: auto;
}

/* CUSTOM FORM FIELDS */
.show-object fieldset.aligned{
    .readonly-field{
        a{
            padding-left: 10px;
            padding-right: 10px;
            line-height: 28px;
        }
    }
}

form fieldset.aligned {

    select, input:not([type="checkbox"]), [type="number"]{
        width: 20em;
    }

    .vSelectMultipleField {
        vertical-align: top;
    }

    .vCheckboxField {
        border: none;
    }

    .vDateField, .vTimeField {
        margin-right: 2px;
        margin-bottom: 4px;
    }

    .vDateField {
        min-width: 6.85em;
        width: 20em;
    }

    .vTimeField {
        min-width: 4.7em;
        width: 20em;
    }

    .vURLField {
        width: 30em;
    }

    .vLargeTextField, .vXMLLargeTextField {
        width: 48em;
    }

    .flatpages-flatpage #id_content {
        height: 40.2em;
    }

    .module table .vPositiveSmallIntegerField {
        width: 2.2em;
    }

    .vTextField {
        width: 20em;
    }

    .vIntegerField {
        width: 5em;
    }

    .vBigIntegerField {
        width: 10em;
    }

    .vForeignKeyRawIdAdminField {
        width: 5em;
    }

}
/* INLINES */

.inline-group {
    overflow-x: auto;
    padding: 0;
    margin: 0 0 30px;
}

.inline-group thead th {
    padding: 8px 10px;
}

.inline-group .aligned label {
    width: 160px;
}

.inline-related {
    position: relative;
}

.inline-related h3 {
    margin: 0;
    color: #666;
    padding: 5px;
    font-size: 13px;
    background: #f8f8f8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.inline-related h3 span.delete {
    float: right;
}

.inline-related h3 span.delete label {
    margin-left: 2px;
    font-size: 11px;
}

.inline-related fieldset {
    margin: 0;
    background: #fff;
    border: none;
    width: 100%;
}

.inline-related fieldset.module h3 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #bcd;
    color: #fff;
}

.inline-group .tabular fieldset.module {
    border: none;
}

.inline-related.tabular fieldset.module table {
    width: 100%;
}

.last-related fieldset {
    border: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 2em;
}

.inline-group .tabular tr td.original {
    padding: 2px 0 0 0;
    width: 0;
    _position: relative;
}

.inline-group .tabular th.original {
    width: 0px;
    padding: 0;
}

.inline-group .tabular td.original p {
    position: absolute;
    left: 0;
    max-height: 2rem;
    padding: 2px 9px;
    overflow: hidden;
    font-size: 9px;
    font-weight: bold;
    color: #666;
    _width: 700px;
}

.inline-group ul.tools {
    padding: 0;
    margin: 0;
    list-style: none;
}

.inline-group ul.tools li {
    display: inline;
    padding: 0 5px;
}

.inline-group div.add-row,
.inline-group .tabular tr.add-row td {
    color: #666;
    background: #f8f8f8;
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
}

.inline-group .tabular tr.add-row td {
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
}

.inline-group ul.tools a.add,
.inline-group div.add-row a,
.inline-group .tabular tr.add-row td a {
    background: url(../img/icon-addlink.svg) 0 1px no-repeat;
    padding-left: 16px;
    font-size: 12px;
}

.empty-form {
    display: none;
}

/* RELATED FIELD ADD ONE / LOOKUP */

.add-another, .related-lookup {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 14px;
}

.add-another {
    width: 16px;
    height: 16px;
    background-image: url(../img/icon-addlink.svg);
}

.related-lookup {
    width: 16px;
    height: 16px;
    background-image: url(../img/search.svg);
}

form .related-widget-wrapper ul {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
}

.clearable-file-input input {
    margin-top: 0;
}

