body.login{background:#f8f8f8}.login #login-container{background:#fff;border:1px solid #eaeaea;border-radius:4px;overflow:hidden;max-width:28em;margin:10rem auto}@media screen and (max-width: 39.9375em){.login #login-container{margin:3rem auto}}.login #login-container #content-main{width:100%;padding:20px 20px 0}.login .form-row{padding:4px 0;float:left;width:100%;border-bottom:none}.login .form-row label{padding-right:0.5em;line-height:2em;font-size:1em;clear:both;color:#333}.login .form-row #id_username,.login .form-row #id_password{clear:both;padding:8px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.login span.help{font-size:10px;display:block}.login .submit-row{clear:both;padding:1em 0;margin:0;border:none;background:none;text-align:right}.login .password-reset-link{text-align:center}
/*# sourceMappingURL=login.css.map */
