{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify foundation_admin util_tags betteradmin_tags %}

{% block content_title %}<h1>{{ original }}</h1>{% endblock %}

{% block bodyclass %}app-{{ opts.app_label }} model-{{ opts.model_name }} show-object{% endblock %}

{% block view_name %}show{% endblock view_name %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}


{% block object-actions %}
    <div class="sidebar-block">
        <h2>{% trans "Actions" %}</h2>

        {% admin_extra_html adminform.model_admin view_name 'actions' 'before' %}

        {% for show_action in show_actions %}
            {% if show_action.is_before %}
                {% render_show_action show_action request original %}
            {% endif %}
        {% endfor %}
        
        {% if has_change_permission %}
            <a class="button" href="{% url opts|admin_urlname:'change' original.pk %}"> {% trans 'Edit' %}</a>
        {% endif %}

        {% for show_action in show_actions %}
            {% if show_action.is_after %}
                {% render_show_action show_action request original %}
            {% endif %}
        {% endfor %}

        {% if has_delete_permission %}
            <a class="button alert" href="{% url opts|admin_urlname:'delete' original.pk %}"> {% trans 'Delete' %}</a>
        {% endif %}

        {% admin_extra_html adminform.model_admin view_name 'actions' 'after' %}

    </div>
{% endblock object-actions %}

{% block admin_change_form_document_ready %}{% endblock %}
{% block admin_change_form_prepopulated_fields %}{% endblock %}


{% block content %}
    {% block form-content %}
        {{ block.super }}
    {% endblock form-content %}
{% endblock %}


{% block field_sets %}
{% for fieldset in adminform %}
<div class="row collapse">
    <div class="small-12 columns">
    {% admin_extra_html adminform.model_admin view_name fieldset.name 'before' %}
    {% include "betteradmin/includes/show_fieldset.html" %}
    {% admin_extra_html adminform.model_admin view_name fieldset.name 'after' %}
    </div>
</div>
{% endfor %}
{% endblock %}
