{% load i18n admin_static %}
{% if cl.search_fields %}
<form id="changelist-search" class="searchbar-form" method="get">
	<div class="input-group">
		<input class="input-group-field" type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" />
	  	<div class="input-group-button">
			<input type="submit" value="{% trans 'Search' %}" />
	  	</div>
	  	{% for pair in cl.params.items %}
	  	    {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endif %}
	  	{% endfor %}
	</div>
</form>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endif %}
